.container { max-width:99%;}
.container .card  {padding: 0px;
  max-width: 100%;}
.card-header  {}
.card-header  h3{ text-transform:uppercase;}
.table thead th, td { font-size:14px;}
#niwoomcr-dashboard .order-card {
color: #fff;
}


#niwoomcr-dashboard  .bg-c-blue {
background: linear-gradient(45deg,#4099ff,#73b4ff);
}

#niwoomcr-dashboard .bg-c-green {
background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

#niwoomcr-dashboard  .bg-c-yellow {
background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

#niwoomcr-dashboard .bg-c-pink {
background: linear-gradient(45deg,#FF5370,#ff869a);
}


#niwoomcr-dashboard  .card {
border-radius: 5px;
-webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
border: none;
margin-bottom: 30px;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

#niwoomcr  .card .card-block {
padding: 5px;
}

#niwoomcr-dashboard  .card .card-block h6 {
	text-transform:uppercase;
}

#niwoomcr-dashboard .order-card i {
font-size: 26px;
}

#niwoomcr-dashboard  .f-left {
float: left;
}

#niwoomcr .f-right {
float: right;
}            